<div class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" placeholder="Nombre">
        </div>
        <div class="campo">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="campo">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Tu contraseña">
        </div>
        <div class="campo">
            <label for="repetir">Repite tu password:</label>
            <input type="password" name="repetir" placeholder="Repite tu password">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesion</a>
        </div>
        <div class="campo ">
            <input type="submit" value="Crear cuenta" class="btn btn-azul">
        </div>

    </form>
</div>