<div class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="campo">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Tu contraseña">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Si no tienes cuenta creala</a>
            <a href="/reestablecer-password">Olvide mi password</a>
        </div>
        <div class="campo ">
            <input type="submit" value="Iniciar sesion" class="btn btn-azul">
        </div>

    </form>
</div>