<main class="contenedor">
    <form method="POST" class="default-form">
      <div class="campo">
            <label for="password">Nuevo password:</label>
            <input type="password" name="password" placeholder="Nuevo password">
        </div>
        <div class="campo ">
            <input type="submit" value="Guardar password" class="btn btn-azul">
        </div>
    </form>
</main>